# Para la app
DATABASE_URL="postgresql://postgres.hgcewfrdmytspvbtxkdy:iAC%40p%24tsx%23Ljy5C3@aws-1-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Para migraciones - Session mode
DIRECT_URL="postgresql://postgres.hgcewfrdmytspvbtxkdy:iAC%40p%24tsx%23Ljy5C3@aws-1-us-west-1.pooler.supabase.com:5432/postgres"

# Autenticación (agregar después)
JWT_SECRET="a0f950f27f7deac87b6dd116c9ea92d9572fe529d964063e7e76bc9c7ab7f467"
JWT_EXPIRES_IN="7d"

ADMIN_EMAIL="admin@inakat.com"
ADMIN_PASSWORD="AdminInakat2024!"
ADMIN_NOMBRE="Administrador"

# Agrega estas líneas al final del archivo:
MERCADOPAGO_ACCESS_TOKEN=TEST-8496866396220386-112213-cd7f64a82f09a2a798065fcb7e81986a-65593296
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-0c1e46d3-f409-4cf1-8dbc-bb1dc873d6d7
NEXT_PUBLIC_APP_URL=http://localhost:3000